.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.inputField {
    width: 80%;
    margin-bottom: 3rem;
}

.textArea {
    width: 60%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.editor {
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
}

.flex {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.width300 {
    width: 300px;
}

.height100 {
    height: 100px;
}
